* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-nav: rgb(40, 40, 40);
    --background-nav: rgb(70, 209, 237)
}

.w100 {
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #d8d7d7;
    font-family: sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 20;
    background-color: var(--background-nav);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

nav {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
}

nav ul {
    display: flex;
    margin-left: 10px;
}

nav li {
    list-style-type: none;
}

nav li a {
    color: var(--primary-nav);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px;
    font-size: 1.5em;
}

nav li a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: var(--background-nav);
    color: var(--primary-nav);
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
}

.social-media {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.icons {
    padding: 10px;
}

.icons a {
    color: inherit;
    font-size: 2rem;
    margin-left: 5px;
}

.icons a:visited {
    color: inherit;
}

.footer-infos {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-infos a {
    text-decoration: none;
    color: inherit;
}

.footer-infos a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

